body {
    font-family: Tahoma, sans-serif;
    color: #4710ae;
    font-weight: 600;
    line-height: 2.0;
    letter-spacing: 5px;
    background-color: #ece4fb;
    margin: 0.5;
     }
#site-title {
    font-family: Tahoma, sans-serif;
    color: #dd09f7;
    text-align: center;
    font-weight: 600;
    line-height: 2.0;
    letter-spacing: 5px
