body {
    font-family: Tahoma, sans-serif;
    color: #4710ae;
    font-weight: 600;
    line-height: 2.0;
    letter-spacing: 5px;
    background-color: #ece4fb;
    margin: 0.5;
     }
id #site-title {
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
    font-weight: 800;
  }


a {
    font-weight: bold;
    color: green;
}