h1 {
  color: #fb1005;
  font-family: Georgia;
  font-size: 50px;
  text-align: center;
  margin-top: 10;
  margin-bottom: .125em;
}
body{
background-color: #0af75e;
}
a {
font-family: Georgia;
font-weight: 800;
font-size: 15px;
color: #9c14dd;
}
h2 {
  font-family: Georgia;
  font-size: 30px;
  color: #fb1005;
}
h3 {
  font-family: Georgia;
  font-size: 30px;
  color: #fb1005;
}

