h1 {
  color: #ed2c0a;
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
  margin-top: 10;
  margin-bottom: .125em;
}
body{
background-color: #0af75e;
font-family: Verdana;
font-size: 20px;
}
url li a{
font-family: Verdana;
font-size: 20px;
margin-left: 20;
bold: color: #f04a08;
}
h2 {
font-family: Verdana;
margin-left: 40;
font-size: 30px;
color: #1f23e0;
}
